body {
  margin:0;
  font-family: verdana;
}

.block {
  height: 350px;
  background: url(gradient.jpg);
  background-size: cover;
  text align: center;
}

h1 {
  line-height: 350px;
  color: white;
  font-size: 60px;
  margin: auto;
}
  
